<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiDesktop.Properties.Settings>
            <setting name="ColorMode" serializeAs="String">
                <value>浅色</value>
            </setting>
            <setting name="IsMinWindowAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strAutoMin" serializeAs="String">
                <value>询问</value>
            </setting>
        </MultiDesktop.Properties.Settings>
    </userSettings>
</configuration>